.mission.hero.card {
    margin-bottom: 1rem;
    .hero-body {
        padding: 2rem 1.5rem;
        p.mission-statement {
            font-size: 0.95rem;
            text-align: justify;
            color: #141414;
        }
        .mission-container {
            width: auto;
        }

        svg {
            width: 1.125rem;
            height: 1.125rem;
        }
        .image-container {
            width: 84px;
            display: flex;
            alignItems: center;
            @media only screen and (max-width: 768px) {
                width: auto;
            }
        }
    }
    .mission-image {
        width: 92px;
        display: inline-flex;
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        @media only screen and (max-width: 786px) {
            margin: 0 auto;
            display: flex;
            width: 72px;
        }
    }
}
