// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$forest-green: #477a62;
$purple: #7a476c;
$frog-green: #33ab74;
$lime-green: #a9e884;
$black: #292930;
$white: #f9fcf8;
$light-gray: #f0f0f0;
